<h1>Eat Da Burgers!</h1>

<h2>Burgers for you to DEVOUR!</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burgers-block eaten=false}}
    {{/unless}}
  {{/each}}   
</ul>

<h2>Burgers That You Have Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block eaten=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Enter a Burger You Want To Eat Then Hit The Add Button</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger:</label>
    <input type="text" id="burg" name="name" placeholder="What Kind Of Burger Do You Want To Add?">
  </div>

  <button type="submit">Add Yo' Burger</button>

</form>
